*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .body-container{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  Header{
    flex-shrink: 0;
    width: 100%;
}

  #root{
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    padding: 20px 0px;
    /* background-color: #e9ecef; */
    background-color: green;
  }

  Footer{
    flex-shrink: 0;
    width: 100%;
}





  a{
    color: white;
    font-weight: 600;
    text-decoration: none;
  }


.logo{
  font-size: 25px;
  font-weight: bold;
}


ul{
    list-style-type: none;
  }



  .container{
    
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px red solid;
  }





  