header{
    width: 100%;
    
    color: white;
    background-color: #191919;
}


.header-container{
   
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
    border-bottom: 2px solid #D87D4A;
    align-items: center;
}


.navigation{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.profile-btn{
    border-radius: 2px;
    padding: 5px;
    background-color: #D87D4A;
    
}

.profile-btn:hover{
    background-color: #db946b;
    color: white;
}

.header-container a{
    cursor: pointer;
  }

.header-container a:hover{
    color: #D87D4A;
  }