

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #root{
    height: 80%;
  }

  main{
   
    height: 100%;
    padding: 20px 0px;
    

    background-color: #e9ecef;
    
  }

  body{
   
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    
  }

  a{
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover{
    color:#D87D4A;
  }


.logo{
  font-size: 25px;
  font-weight: bold;
}


ul{
    list-style-type: none;
  }

  li{
    cursor: pointer;
  }

  li:hover{
    color: #D87D4A;
  }

  .container{
    
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

  }

 

